
.header{
    text-align: center;
    width: auto;
    color: #800000;
    font-size: 30px;
    border: none;
    text-decoration: underline;
    
}
.text{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    color: rgb(8, 0, 0);
    font-size: 20px;
    border: none;
    margin-top: 10px; 
    width: auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
#image-container{
    width: 100%;
    height: auto;
    border-radius: 1000px;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 10px;
    background-color:plum;
    color: rgb(8, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 400px;
}
